# PORT=3800

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=db_name

JWT_SECRET=supersecret
JWT_EXPIRATION=3600s # 1 hour

REDIS_HOST=localhost
REDIS_PORT=6379
MONGO_URI=mongodb://localhost:27017/kadsipa_mis_logs

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your@gmail.com
SMTP_PASS=yourapppassword
SMTP_FROM_EMAIL=your@gmail.com